<a href="https://colab.research.google.com/github/thiagolir4/Data_Cleaning_e_Wrangling/blob/main/Data_Cleaning_e_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

##LENDO ARQUIVO JSON

In [2]:
from google.colab import files
uploaded = files.upload()

Saving amazon.csv to amazon.csv
Saving athletes.csv to athletes.csv
Saving Data_Wrangling_and_Cleaning.ipynb to Data_Wrangling_and_Cleaning.ipynb
Saving good.json to good.json
Saving gym_members_exercise_tracking.csv to gym_members_exercise_tracking.csv
Saving medals.csv to medals.csv

In [3]:
df = pd.read_json("good.json")

In [4]:
df_musics = pd.json_normalize(df["audio_features"])

In [5]:
df_athletes = pd.read_csv("athletes.csv")

In [6]:
df_athletes.dtypes

code                    int64
name                   object
name_short             object
name_tv                object
gender                 object
function               object
country_code           object
country                object
country_full           object
nationality            object
nationality_full       object
nationality_code       object
height                  int64
weight                float64
disciplines            object
events                 object
birth_date             object
birth_place            object
birth_country          object
residence_place        object
residence_country      object
nickname               object
hobbies                object
occupation             object
education              object
family                 object
lang                   object
coach                  object
reason                 object
hero                   object
influence              object
philosophy             object
sporting_relatives     object
ritual                 object
other_sports           object
dtype: object

In [7]:
#CAST PARA TROCAR DE TIPO
df_athletes['code'].astype(str)

0        1532872
1        1532873
2        1532874
3        1532944
4        1532945
          ...
11105    4982175
11106    4982762
11107    4983537
11108    4986655
11109    9460001
Name: code, Length: 11110, dtype: object

In [8]:
df_athletes['birth_date']

0        1991-10-21
1        1999-01-22
2        1996-12-21
3        1999-11-22
4        1999-10-27
            ...
11105    2001-07-03
11106    1999-01-31
11107    1993-07-29
11108    2003-06-11
11109    2000-04-27
Name: birth_date, Length: 11110, dtype: object

In [9]:
pd.to_datetime(df_athletes['birth_date'])

0       1991-10-21
1       1999-01-22
2       1996-12-21
3       1999-11-22
4       1999-10-27
           ...
11105   2001-07-03
11106   1999-01-31
11107   1993-07-29
11108   2003-06-11
11109   2000-04-27
Name: birth_date, Length: 11110, dtype: datetime64[ns]

In [10]:
df_brazil = df_athletes[df_athletes["country_full"] == "Brazil"]

In [11]:
df_brazil.shape

(290, 35)

In [12]:
df_brazil[df_brazil["nationality"]!="Brazil"]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
9980,1968081,PARRO Carlos,PARRO C,Carlos PARRO,Male,Alternate Athlete,BRA,Brazil,Brazil,Italy,...,"Wife, Nicola. Son, Luca. Daughter, Margot","English, Portuguese",National (jumping): Mark Todd (NZL).<br>Person...,He developed an interest in horses while stayi...,"Equestrian eventing rider Mark Todd (NZL), six...",NaN,NaN,"Older brother, Andre Parro (equestrian), repre...",NaN,NaN

In [13]:
df_athletes[df_athletes["country_full"].isin(["Brazil","Argentina"])]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
101,1535729,SERRANO Franco,SERRANO F,Franco SERRANO,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,NaN,NaN,NaN,His family,"""The reward is always greater than any effort....",NaN,NaN,NaN
199,1537180,CEBALLOS Macarena,CEBALLOS M,Macarena CEBALLOS,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,"Father, Claudio. Mother, Liliana Giacomelli (d...",Spanish,National: Gustavo Roldan,Older sister started swimming. “I was very att...,"Swimmer Michael Phelps (USA), 28-time Olympic ...",NaN,"""Stand up and Fight"" is tattooed on her left arm",NaN,NaN,NaN
208,1537209,HEIN Agostina,HEIN A,Agostina HEIN,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,Club: Sebastian Montero,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,1537465,SARAVIA Ulises,SARAVIA U,Ulises SARAVIA,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,Federico Diez Andersen,NaN,"Footballer Lionel Messi (ARG), FIFA World Cup ...",NaN,NaN,NaN,NaN,NaN
231,1537510,BORELLI Florencia,BORELLI F,Florencia BORELLI,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,"Husband, Facundo. Son, Milo (born 2015). Fathe...",Spanish,Personal: Fernando Diaz Sanchez (ARG),NaN,NaN,NaN,NaN,"Twin sister Mariana (athletics), two-time Sout...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,1968116,FONSECA Ruy,FONSECA R,Ruy FONSECA,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Renata. Daughters, Carolina and Cecilia","English, French, Italian, Portuguese, Spanish",William Fox-Pitt (GBR),"His parents were riders, so he following them ...",NaN,His parents,NaN,"Wife, Renata Rabello Costa (equestrian), bronz...",NaN,NaN
9987,1968118,de FREITAS BARCHA Stephan,BARCHA Stephan,Stephan de FREITAS BARCHA,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Roberta Milani. One son. Two daughters",English,NaN,“My father had a farm in the countryside where...,"Equestrian show jumper Ludger Beerbaum (GER), ...","His parents, and coaches, Nelson Pessoa (BRA) ...","""I learn from defeats, not from victories."" (C...","Wife, Roberta Milani (equestrian), has served ...",NaN,NaN
9988,1968125,MANSUR Yuri,MANSUR Y,Yuri MANSUR,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Louise. Children, Pedro and Marie Louise","English, French, Portuguese",NaN,He was not from a family that had horses or co...,Equestrian show jumpers:<br>Nelson Pessoa (BRA...,Brazilian rider Nelson Pessoa,"""My strongest quality, in everything I do, is ...",NaN,NaN,NaN
10951,3430817,SCHEFFER Fernando,SCHEFFER F,Fernando SCHEFFER,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,NaN,Portuguese,"Club: Fernando Possenti (BRA), since September...","Followed his brother into the sport. ""My broth...","Swimmer Kaio Almeida (BRA), four-time Olympian...",NaN,"""Never give up your dreams."" (myInfo)",NaN,"""I don’t listen to music behind the blocks or ...",NaN
10987,3556435,SIMEONE Giuliano,SIMEONE G,Giuliano SIMEONE,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,"Father, Diego Simeone (born 1970). Older broth...","Italian, Spanish",Club: Diego Simeone (ARG/ITA).<br>National: Ja...,NaN,NaN,NaN,NaN,"Father, Diego Simeone (football), played for a...",NaN,NaN

In [14]:
df_athletes[df_athletes["height"] >= 170].shape

(4003, 35)

In [15]:
df_athletes[(df_athletes["height"] >= 170) & (df_athletes["country_full"]== "Brazil")] [["country_full","height"]]

     country_full  height
1414       Brazil     177
1415       Brazil     182
1416       Brazil     170
1417       Brazil     182
1418       Brazil     190
...           ...     ...
9949       Brazil     170
9950       Brazil     175
9952       Brazil     180
9953       Brazil     184
9954       Brazil     185

[119 rows x 2 columns]

In [16]:
df_athletes[~(df_athletes["height"] >= 170) |  (df_athletes["country_full"]== "Brazil")] [["country_full","height"]]

                           country_full  height
0                               Armenia       0
1                               Armenia       0
2                               Armenia       0
3                               Armenia       0
4                               Armenia       0
...                                 ...     ...
11103  Lao People's Democratic Republic       0
11104                       Netherlands     168
11106                           Ukraine       0
11108                 Equatorial Guinea     165
11109                             Italy       0

[7226 rows x 2 columns]

In [17]:
df_brazil["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [18]:
df_athletes["gender"].unique()

array(['Male', 'Female'], dtype=object)

In [19]:
df_brazil["gender"].mode()

0    Female
Name: gender, dtype: object

In [20]:
df_brazil["gender"].value_counts()

gender
Female    164
Male      126
Name: count, dtype: int64

In [21]:
df_brazil["gender"].value_counts(normalize=True)*100

gender
Female    56.551724
Male      43.448276
Name: proportion, dtype: float64

In [22]:
df_athletes["country_full"].value_counts(ascending=True)
#ascending
# True do menor para o maior
# False no maior para o menor

country_full
Liechtenstein                 1
Belize                        1
Nauru                         1
Somalia                       1
Andorra                       2
                           ...
Japan                       431
Germany                     457
Australia                   475
France                      600
United States of America    619
Name: count, Length: 206, dtype: int64

In [23]:
df_athletes["height"].value_counts()

height
0      6032
170     291
180     246
175     237
178     206
       ...
222       1
151       1
140       1
217       1
214       1
Name: count, Length: 74, dtype: int64

##AGRUPAMENTO

In [24]:
df_athletes.groupby("country_full").size().sort_values(ascending=False)

country_full
United States of America    619
France                      600
Australia                   475
Germany                     457
Japan                       431
                           ...
Myanmar                       2
Belize                        1
Liechtenstein                 1
Nauru                         1
Somalia                       1
Length: 206, dtype: int64

In [25]:
df_positive_values = df_athletes[df_athletes['height']>0]

In [26]:
df_positive_values.groupby("gender")['height'].mean().sort_values()

gender
Female    172.224828
Male      185.363916
Name: height, dtype: float64

In [27]:
df_positive_values.groupby(["country_full","gender"])["height"].mean().unstack()
#a função unstack() "transforma" o agrupamento em colunas, facilita a vizualizaçõa

gender                       Female        Male
country_full
AIN                      174.250000  191.333333
Afghanistan              163.000000  179.000000
Albania                  161.000000  193.000000
Algeria                  171.400000  186.600000
American Samoa           152.000000         NaN
...                             ...         ...
Virgin Islands, British  157.000000  180.000000
Virgin Islands, US              NaN  180.000000
Yemen                           NaN  183.000000
Zambia                   160.238095  171.714286
Zimbabwe                 155.000000  191.000000

[199 rows x 2 columns]

In [28]:
df_medals = pd.read_csv("medals.csv", encoding="latin1")

In [29]:
df_medals.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy
2,Bronze Medal,3.0,2024-07-27,Wout van AERT,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147,BEL,Belgium,Belgium
3,Gold Medal,1.0,2024-07-27,Grace BROWN,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173,AUS,Australia,Australia
4,Silver Medal,2.0,2024-07-27,Anna HENDERSON,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525,GBR,Great Britain,Great Britain

In [30]:
df_medals.groupby("country")["medal_type"].value_counts().unstack().sort_values(["Gold Medal","Silver Medal","Bronze Medal"],ascending=[False,False,False])

medal_type     Bronze Medal  Gold Medal  Silver Medal
country
United States          42.0        40.0          44.0
China                  24.0        40.0          27.0
Japan                  13.0        20.0          12.0
Australia              16.0        18.0          19.0
France                 22.0        16.0          26.0
...                     ...         ...           ...
Peru                    1.0         NaN           NaN
Qatar                   1.0         NaN           NaN
Singapore               1.0         NaN           NaN
Slovakia                1.0         NaN           NaN
Zambia                  1.0         NaN           NaN

[92 rows x 3 columns]

##OPERAÇÕES ARITMÉTICAS

In [31]:
df_athletes_positive_values = df_athletes[(df_athletes["height"] > 0) & (df_athletes["weight"] > 0)]

In [32]:
df_athletes_positive_values.info()

<class 'pandas.core.frame.DataFrame'>
Index: 316 entries, 370 to 10986
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                316 non-null    int64
 1   name                316 non-null    object
 2   name_short          316 non-null    object
 3   name_tv             316 non-null    object
 4   gender              316 non-null    object
 5   function            316 non-null    object
 6   country_code        316 non-null    object
 7   country             316 non-null    object
 8   country_full        316 non-null    object
 9   nationality         316 non-null    object
 10  nationality_full    316 non-null    object
 11  nationality_code    316 non-null    object
 12  height              316 non-null    int64
 13  weight              316 non-null    float64
 14  disciplines         316 non-null    object
 15  events              316 non-null    object
 16  birth_date          316 non-null    object
 17  birth_place         228 non-null    object
 18  birth_country       234 non-null    object
 19  residence_place     191 non-null    object
 20  residence_country   197 non-null    object
 21  nickname            89 non-null     object
 22  hobbies             38 non-null     object
 23  occupation          305 non-null    object
 24  education           143 non-null    object
 25  family              161 non-null    object
 26  lang                303 non-null    object
 27  coach               297 non-null    object
 28  reason              135 non-null    object
 29  hero                49 non-null     object
 30  influence           41 non-null     object
 31  philosophy          37 non-null     object
 32  sporting_relatives  60 non-null     object
 33  ritual              5 non-null      object
 34  other_sports        145 non-null    object
dtypes: float64(1), int64(2), object(32)
memory usage: 88.9+ KB

In [33]:
df_athletes_positive_values[["height","weight"]]

       height  weight
370       185    98.0
371       189    93.0
372       183    84.0
431       185    75.0
432       181    82.0
...       ...     ...
10954     184   102.0
10968     183    90.0
10969     185    86.0
10970     185    88.0
10986     189   106.0

[316 rows x 2 columns]

In [34]:
df_athletes_positive_values["height_m"] = df_athletes_positive_values["height"] / 100

/tmp/ipython-input-34-2349614483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_athletes_positive_values["height_m"] = df_athletes_positive_values["height"] / 100

In [35]:
df_athletes_positive_values["height_m"]

370      1.85
371      1.89
372      1.83
431      1.85
432      1.81
         ...
10954    1.84
10968    1.83
10969    1.85
10970    1.85
10986    1.89
Name: height_m, Length: 316, dtype: float64

In [36]:
df_athletes_positive_values["imc"] = df_athletes_positive_values["weight"] / (df_athletes_positive_values["height_m"]**2)

/tmp/ipython-input-36-3071150663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_athletes_positive_values["imc"] = df_athletes_positive_values["weight"] / (df_athletes_positive_values["height_m"]**2)

In [37]:
df_athletes_positive_values["imc"]

370      28.634039
371      26.035105
372      25.082863
431      21.913806
432      25.029761
           ...
10954    30.127599
10968    26.874496
10969    25.127831
10970    25.712199
10986    29.674421
Name: imc, Length: 316, dtype: float64

In [38]:
df_athletes["birth data"] = pd.to_datetime(df_athletes["birth_date"])

In [39]:
from datetime import datetime, timedelta

In [40]:
start_date = datetime(2025, 7, 26)

In [41]:
df_athletes["age"] = (start_date - df_athletes["birth data"])

In [42]:
df_athletes["age"] = df_athletes["age"] / timedelta(days=365)

In [43]:
df_athletes["name"] + " - " + df_athletes["country_code"]

0                  ALEKSANYAN Artur - ARM
1                    AMOYAN Malkhas - ARM
2                   GALSTYAN Slavik - ARM
3                 HARUTYUNYAN Arsen - ARM
4                   TEVANYAN Vazgen - ARM
                       ...
11105                 JOSEPH Elijah - TTO
11106               HOMAN Khrystyna - UKR
11107    CHELANGAT Annet Chemengich - UGA
11108                ADA ETO Sefora - GEQ
11109               LIUZZI Emanuela - ITA
Length: 11110, dtype: object

##FUNÇÕES

In [44]:
def is_adult(age):
  if age >= 18:
    return "Sim"
  else:
    return "Não"

In [45]:
df_athletes["is_adult"] = df_athletes["age"].apply(is_adult)

In [46]:
df_athletes['is_adult'].value_counts(normalize=True) * 100

is_adult
Sim    99.081908
Não     0.918092
Name: proportion, dtype: float64