<a href="https://colab.research.google.com/github/thiagolir4/Data_Cleaning_e_Wrangling/blob/main/Data_Cleaning_e_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

##LENDO ARQUIVO JSON

In [6]:
from google.colab import files
uploaded = files.upload()

Saving amazon.csv to amazon (1).csv
Saving athletes.csv to athletes (1).csv
Saving Data_Wrangling_and_Cleaning.ipynb to Data_Wrangling_and_Cleaning (1).ipynb
Saving good.json to good (1).json
Saving gym_members_exercise_tracking.csv to gym_members_exercise_tracking (1).csv
Saving medals.csv to medals (1).csv

In [7]:
df = pd.read_json("good.json")

In [8]:
df_musics = pd.json_normalize(df["audio_features"])

In [44]:
df_athletes = pd.read_csv("athletes.csv")

In [10]:
df_athletes.dtypes

code                    int64
name                   object
name_short             object
name_tv                object
gender                 object
function               object
country_code           object
country                object
country_full           object
nationality            object
nationality_full       object
nationality_code       object
height                  int64
weight                float64
disciplines            object
events                 object
birth_date             object
birth_place            object
birth_country          object
residence_place        object
residence_country      object
nickname               object
hobbies                object
occupation             object
education              object
family                 object
lang                   object
coach                  object
reason                 object
hero                   object
influence              object
philosophy             object
sporting_relatives     object
ritual                 object
other_sports           object
dtype: object

In [11]:
#CAST PARA TROCAR DE TIPO
df_athletes['code'].astype(str)

0        1532872
1        1532873
2        1532874
3        1532944
4        1532945
          ...
11105    4982175
11106    4982762
11107    4983537
11108    4986655
11109    9460001
Name: code, Length: 11110, dtype: object

In [12]:
df_athletes['birth_date']

0        1991-10-21
1        1999-01-22
2        1996-12-21
3        1999-11-22
4        1999-10-27
            ...
11105    2001-07-03
11106    1999-01-31
11107    1993-07-29
11108    2003-06-11
11109    2000-04-27
Name: birth_date, Length: 11110, dtype: object

In [13]:
pd.to_datetime(df_athletes['birth_date'])

0       1991-10-21
1       1999-01-22
2       1996-12-21
3       1999-11-22
4       1999-10-27
           ...
11105   2001-07-03
11106   1999-01-31
11107   1993-07-29
11108   2003-06-11
11109   2000-04-27
Name: birth_date, Length: 11110, dtype: datetime64[ns]

In [14]:
df_brazil = df_athletes[df_athletes["country_full"] == "Brazil"]

In [15]:
df_brazil.shape

(290, 35)

In [16]:
df_brazil[df_brazil["nationality"]!="Brazil"]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
9980,1968081,PARRO Carlos,PARRO C,Carlos PARRO,Male,Alternate Athlete,BRA,Brazil,Brazil,Italy,...,"Wife, Nicola. Son, Luca. Daughter, Margot","English, Portuguese",National (jumping): Mark Todd (NZL).<br>Person...,He developed an interest in horses while stayi...,"Equestrian eventing rider Mark Todd (NZL), six...",NaN,NaN,"Older brother, Andre Parro (equestrian), repre...",NaN,NaN

In [17]:
df_athletes[df_athletes["country_full"].isin(["Brazil","Argentina"])]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
101,1535729,SERRANO Franco,SERRANO F,Franco SERRANO,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,NaN,NaN,NaN,His family,"""The reward is always greater than any effort....",NaN,NaN,NaN
199,1537180,CEBALLOS Macarena,CEBALLOS M,Macarena CEBALLOS,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,"Father, Claudio. Mother, Liliana Giacomelli (d...",Spanish,National: Gustavo Roldan,Older sister started swimming. “I was very att...,"Swimmer Michael Phelps (USA), 28-time Olympic ...",NaN,"""Stand up and Fight"" is tattooed on her left arm",NaN,NaN,NaN
208,1537209,HEIN Agostina,HEIN A,Agostina HEIN,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,Club: Sebastian Montero,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,1537465,SARAVIA Ulises,SARAVIA U,Ulises SARAVIA,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,NaN,Spanish,Federico Diez Andersen,NaN,"Footballer Lionel Messi (ARG), FIFA World Cup ...",NaN,NaN,NaN,NaN,NaN
231,1537510,BORELLI Florencia,BORELLI F,Florencia BORELLI,Female,Athlete,ARG,Argentina,Argentina,Argentina,...,"Husband, Facundo. Son, Milo (born 2015). Fathe...",Spanish,Personal: Fernando Diaz Sanchez (ARG),NaN,NaN,NaN,NaN,"Twin sister Mariana (athletics), two-time Sout...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,1968116,FONSECA Ruy,FONSECA R,Ruy FONSECA,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Renata. Daughters, Carolina and Cecilia","English, French, Italian, Portuguese, Spanish",William Fox-Pitt (GBR),"His parents were riders, so he following them ...",NaN,His parents,NaN,"Wife, Renata Rabello Costa (equestrian), bronz...",NaN,NaN
9987,1968118,de FREITAS BARCHA Stephan,BARCHA Stephan,Stephan de FREITAS BARCHA,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Roberta Milani. One son. Two daughters",English,NaN,“My father had a farm in the countryside where...,"Equestrian show jumper Ludger Beerbaum (GER), ...","His parents, and coaches, Nelson Pessoa (BRA) ...","""I learn from defeats, not from victories."" (C...","Wife, Roberta Milani (equestrian), has served ...",NaN,NaN
9988,1968125,MANSUR Yuri,MANSUR Y,Yuri MANSUR,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,"Wife, Louise. Children, Pedro and Marie Louise","English, French, Portuguese",NaN,He was not from a family that had horses or co...,Equestrian show jumpers:<br>Nelson Pessoa (BRA...,Brazilian rider Nelson Pessoa,"""My strongest quality, in everything I do, is ...",NaN,NaN,NaN
10951,3430817,SCHEFFER Fernando,SCHEFFER F,Fernando SCHEFFER,Male,Athlete,BRA,Brazil,Brazil,Brazil,...,NaN,Portuguese,"Club: Fernando Possenti (BRA), since September...","Followed his brother into the sport. ""My broth...","Swimmer Kaio Almeida (BRA), four-time Olympian...",NaN,"""Never give up your dreams."" (myInfo)",NaN,"""I don’t listen to music behind the blocks or ...",NaN
10987,3556435,SIMEONE Giuliano,SIMEONE G,Giuliano SIMEONE,Male,Athlete,ARG,Argentina,Argentina,Argentina,...,"Father, Diego Simeone (born 1970). Older broth...","Italian, Spanish",Club: Diego Simeone (ARG/ITA).<br>National: Ja...,NaN,NaN,NaN,NaN,"Father, Diego Simeone (football), played for a...",NaN,NaN

In [18]:
df_athletes[df_athletes["height"] >= 170].shape

(4003, 35)

In [19]:
df_athletes[(df_athletes["height"] >= 170) & (df_athletes["country_full"]== "Brazil")] [["country_full","height"]]

     country_full  height
1414       Brazil     177
1415       Brazil     182
1416       Brazil     170
1417       Brazil     182
1418       Brazil     190
...           ...     ...
9949       Brazil     170
9950       Brazil     175
9952       Brazil     180
9953       Brazil     184
9954       Brazil     185

[119 rows x 2 columns]

In [20]:
df_athletes[~(df_athletes["height"] >= 170) |  (df_athletes["country_full"]== "Brazil")] [["country_full","height"]]

                           country_full  height
0                               Armenia       0
1                               Armenia       0
2                               Armenia       0
3                               Armenia       0
4                               Armenia       0
...                                 ...     ...
11103  Lao People's Democratic Republic       0
11104                       Netherlands     168
11106                           Ukraine       0
11108                 Equatorial Guinea     165
11109                             Italy       0

[7226 rows x 2 columns]

In [21]:
df_brazil["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [22]:
df_athletes["gender"].unique()

array(['Male', 'Female'], dtype=object)

In [23]:
df_brazil["gender"].mode()

0    Female
Name: gender, dtype: object

In [24]:
df_brazil["gender"].value_counts()

gender
Female    164
Male      126
Name: count, dtype: int64

In [25]:
df_brazil["gender"].value_counts(normalize=True)*100

gender
Female    56.551724
Male      43.448276
Name: proportion, dtype: float64

In [26]:
df_athletes["country_full"].value_counts(ascending=True)
#ascending
# True do menor para o maior
# False no maior para o menor

country_full
Liechtenstein                 1
Belize                        1
Nauru                         1
Somalia                       1
Andorra                       2
                           ...
Japan                       431
Germany                     457
Australia                   475
France                      600
United States of America    619
Name: count, Length: 206, dtype: int64

In [27]:
df_athletes["height"].value_counts()

height
0      6032
170     291
180     246
175     237
178     206
       ...
222       1
151       1
140       1
217       1
214       1
Name: count, Length: 74, dtype: int64

##AGRUPAMENTO

In [29]:
df_athletes.groupby("country_full").size().sort_values(ascending=False)

country_full
United States of America    619
France                      600
Australia                   475
Germany                     457
Japan                       431
                           ...
Myanmar                       2
Belize                        1
Liechtenstein                 1
Nauru                         1
Somalia                       1
Length: 206, dtype: int64

In [31]:
df_positive_values = df_athletes[df_athletes['height']>0]

In [34]:
df_positive_values.groupby("gender")['height'].mean().sort_values()

gender
Female    172.224828
Male      185.363916
Name: height, dtype: float64

In [42]:
df_positive_values.groupby(["country_full","gender"])["height"].mean().unstack()
#a função unstack() "transforma" o agrupamento em colunas, facilita a vizualizaçõa

gender                       Female        Male
country_full
AIN                      174.250000  191.333333
Afghanistan              163.000000  179.000000
Albania                  161.000000  193.000000
Algeria                  171.400000  186.600000
American Samoa           152.000000         NaN
...                             ...         ...
Virgin Islands, British  157.000000  180.000000
Virgin Islands, US              NaN  180.000000
Yemen                           NaN  183.000000
Zambia                   160.238095  171.714286
Zimbabwe                 155.000000  191.000000

[199 rows x 2 columns]

In [46]:
df_medals = pd.read_csv("medals.csv", encoding="latin1")

In [48]:
df_medals.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy
2,Bronze Medal,3.0,2024-07-27,Wout van AERT,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147,BEL,Belgium,Belgium
3,Gold Medal,1.0,2024-07-27,Grace BROWN,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173,AUS,Australia,Australia
4,Silver Medal,2.0,2024-07-27,Anna HENDERSON,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525,GBR,Great Britain,Great Britain

In [51]:
df_medals.groupby("country")["medal_type"].value_counts().unstack().sort_values(["Gold Medal","Silver Medal","Bronze Medal"],ascending=[False,False,False])

medal_type     Bronze Medal  Gold Medal  Silver Medal
country
United States          42.0        40.0          44.0
China                  24.0        40.0          27.0
Japan                  13.0        20.0          12.0
Australia              16.0        18.0          19.0
France                 22.0        16.0          26.0
...                     ...         ...           ...
Peru                    1.0         NaN           NaN
Qatar                   1.0         NaN           NaN
Singapore               1.0         NaN           NaN
Slovakia                1.0         NaN           NaN
Zambia                  1.0         NaN           NaN

[92 rows x 3 columns]